*{box-sizing: border-box;}
#myform{
    width: 300px;
    margin: 3em auto;
    background-color: lightcyan;
    padding: 2em;
}
.btnsubmit{
    width: 100%;
    background-color: darkblue;
    color: white;
    padding: 0.5em;
    margin-top: 2em;
}
.btnsubmit:hover{
    background-color: crimson;
}
.greeting{
    width: 400px;
    margin: auto;
    display: none;
}
.greetuser{
    color: crimson;
    font-weight: bolder;
}
.formcontrol{
    margin: 2em;
}
label{
    width: 100px;
    display: inline-block;
    color: darkblue;
}
input{
    display: inline-block;
    width: 100%;
    color: darkblue;
    padding: 0.5em;
}
.errormsg{
    color: crimson;
    font-size: 0.8em;
    display: none;
}
.btnsubmit:disabled{
    cursor: not-allowed;
    background-color: darkgray;
    color: darkblue;
}