body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #80eef1;
}

.title {
  text-align: center;
  color: brown;
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2em;
  background-color: white;
  padding: 1em;
  font-weight: bold;
  font-size: 1.2rem;
}

.navlink {
  text-decoration: none;
  color: darkred;
}

.navlink:hover {
  text-decoration: underline;
}

.pagewrapper {
  width: 600px;
  margin: 2em auto;
  box-shadow: 1px 1px 5px lightgray;
  background-color: white;
  padding: 1.5em;
  border-radius: 10px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  padding: 1em;
  margin: 1em 0;
  border-radius: 10px;
  background-color: #e6f2ff;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
  box-shadow: 1px 1px 5px gray;
  font-weight: bolder;
}
